	
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(223, 232, 235);
    margin: 0px 35px;
}

.headerbar{
    display: block;
    background-color: rgb(159, 184, 177);
    height: 3em;
    line-height: 0em;
    padding: 1em 1em;

}

.headerbar a {
    text-decoration: none;
}

.headerbar a:visited {
    color: black;
}

.discription{
    padding: 0px 1em;

}

.day_title{
   -webkit-text-decoration: rgba(240, 25, 10, 0.384) underline dashed;
    font-size: 110%;
}

blockquote{
    display: block;
    background-color: rgb(235, 235, 220);
}

.footer{
    text-align: center;
}