	
/* @import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css); */

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(223, 232, 235);
    margin: 0px 50px;
}

div.headerbar{
    display: block;
    background-color: rgb(159, 184, 177);
    height: 3em;
    line-height: 0em;
    padding: 1em 1em;

}

.discription{
    padding: 0px 1em;
    font-style: italic;
    font-size: small;
}

div.contentlink{
    margin: 1em;
}

.footer{
    text-align: right;
}
