	
@import url('https://fonts.googleapis.com/earlyaccess/notosansjp.css');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: "Klee One", cursive; */
    /* font-family: "Hina Mincho", serif; */
    background-color: rgb(223, 232, 235);
    margin: auto;
    padding:0 20px;
    max-width:900px;
}

.headerbar{
    display: block;
    background-color: rgb(159, 184, 177);
    height: 3em;
    line-height: 0em;
    padding: 1em 1em;

}

.headerbar a {
    font-family: "Zen Old Mincho", serif;
    text-decoration: none;
    color: black;
}

.headerbar a:visited {
    color: black;
}

/* .headerbar span{
    font-family: Noto Sans JP , sans-serif;
} */

.discription{
    padding: 0px 1em;
    margin: 10px 0;

}

a:link{
    color: black;
}

a:visited {
    color: black;
}

a :hover{
    text-decoration: underline dashed;
}



.day_title{
    text-decoration: rgba(240, 25, 10, 0.384) underline dashed;
   -webkit-text-decoration: rgba(240, 25, 10, 0.384) underline dashed;
   margin: 0 0 0 0;
   font-weight: 500;
    /* font-size: 100%; */
}

div.text{
    margin-bottom: 3em;
}

/* img.sticker-turtle{
    display: block;
   width: 50px;
} */

.song{
    font-style: italic;
}

blockquote{
    display: block;
    background-color: rgb(241, 241, 233);
    font-style: italic;
}

img.attached{
    max-width: 100%;
    height: auto;
    display: block;
}

#rirerence {
    font-style: normal;
}

.footer{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
