	
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(223, 232, 235);
    margin: 0px 35px;
}

.headerbar{
    display: block;
    background-color: rgb(159, 184, 177);
    height: 3em;
    line-height: 0em;
    padding: 1em 1em;

}

.headerbar a {
    text-decoration: none;
}

.headerbar a:visited {
    color: black;
}

.discription{
    padding: 0px 1em;
}

img{
    max-width: 100%;
    height: auto;
}

video{
    max-width: 100%;
    height: auto;
}

.footer{
    text-align: center;
}