	
/* @import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css); */

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

body {
    font-family: "Zen Maru Gothic", serif;
    background-color: rgb(237, 237, 226);
    margin: auto;
    padding:0 20px;
    max-width:900px;

    
}

.headerbar{
    display: block;
    background-color: rgb(223, 181, 181);
    height: 3em;
    line-height: 0em;
    padding: 1em 1em;

}

.headerbar a {
    text-decoration: none;
    color: black;
}

.headerbar a:visited {
    color: black;
}

a:link{
    color: black;
}

a:visited {
    color: black;
}

a :hover{
    text-decoration: underline dashed;
}

.discription{
    padding: 0px 1em;
    margin: 10px 0;
}

main{
    display: block;
    border-radius: 30px;
    background-color: white;
    padding: 0.7em;

    
}

.page{
    background: linear-gradient(to right,
    transparent 23px, #aaa 24px),
    linear-gradient(to bottom,
    transparent 23px, #aaa 24px);
    background-size: 24px 24px;

    display: flex;
}

.sticker03{
    transform: translateY(-20%);
}



/* .group-01{
    display: block;
}

.group-02{
    display: block;
    margin-top: -4em;
} */

.footer{
    text-align: right;
    font-size: small;
}

.footer span{
    font-size: 12px;
}
