	
@import url('https://fonts.googleapis.com/earlyaccess/notosansjp.css');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(223, 232, 235);
    margin: 0px 35px;
}

.headerbar{
    font-family: "Zen Old Mincho", serif;
    display: block;
    background-color: rgb(159, 184, 177);
    height: 3em;
    line-height: 0em;
    padding: 1em 1em;

}

.headerbar a {
    text-decoration: none;
    color: black;
}

.headerbar a:visited {
    color: black;
}

.discription{
    padding: 0px 1em;
    margin: 10px 0;
}

a :hover{
    text-decoration: underline dashed;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

video{
    max-width: 70%;
    height: auto;
    display: block;
    background-color:white;
}


.footer{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}